.credits {
  background-color: #d84d52;
  margin-left: 1rem;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  line-height: 3rem;
  margin-top: 0.6rem;
}
